@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    background: rgb(33,33,33);
    background: radial-gradient(circle, rgba(33,33,33,1) 0%, rgba(21,21,21,1) 35%, rgba(0,0,0,1) 100%);
color: white;
}

